@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App {
    /* min-height: 100vh; */
    /* display: flex; */
    /* background-image: url('https://unsplash.com/photos/two-white-wooden-doors-with-grills-FTy5VSGIfiQ'); */
    background-image: url('./assets/bg-image.png');
    /* background-size: cover;
    background-position: center; */
    color: black;
}
